body {
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    margin: 0em;
    height: 60px;
    width: 100vw;
    
}

h1 {
    margin: 0;
    margin-top: 10px;
    font-family: Nunito, sans-serif;
}

li {
    background-color: whitesmoke;
    box-shadow: 0 0 0.9em 0.15em rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

ul {
    gap: 20px;
    min-width: 50vw;
    padding: 0;
}

.addPostButton {
    width: 200px;
    height: 3em;
    margin: 10px;
}

h3 {
    font-family: Nunito, sans-serif;
    margin: 0px;
    font-size: 1.5rem;
    color: black;
}

h4 {
    font-family: Nunito, sans-serif;
    color: grey;
    font-weight: 700;
    margin: 0px;
}

h5 {
    font-family: Nunito, sans-serif;
    color: black;
    font-weight: 300;
    margin: 0px;
}